@import 'colors';

%green-button {
    cursor: pointer;
    width: 280px;
    height: 40px;
    margin-top: 5px;
    background: $green;
    border: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Oswald';
  }
  
  %green-button:hover {
    background: $dark-green;
  }

  %green-button:active {
    background: $dark-green;
    color: $white-03;
  }