$green: #68B738;
$dark-green:#5EAA2F;
$light-grey: #E7E7E7;
$grey: #CDCDCD;
$dark-grey: #444;
$red: #FF8282;
$white-03: rgba(255, 255, 255, .3);
$white-05: rgba(255, 255, 255, .5);
$black-03: rgba(0, 0, 0, .3);
$black-05: rgba(0, 0, 0, .5);