%header {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

%header-60 {
    @extend %header;
    font-size: 60px;
    line-height: 60px;
}

%header-36 {
    @extend %header;
    font-size: 36px;
    line-height: 36px;
}

%header-20 {
    @extend %header;
    font-size: 20px;
    line-height: 20px;
}