@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald'),
    url(/src/fonts/Oswald.ttf)
}

p {
  margin: 0
}

h1 {
  margin: 0;
}

body {
margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

@import 'buttons_presets';

button {
  @extend %green-button;
}