$green: #68B738;
@import 'text_presets';
@import 'mixins';

.container {
    @extend %menu-white;
    width: 480px;
    height: 40px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.item {
    cursor: pointer;
    @include transition(all .09s linear);
}

.item:hover {
    opacity: .5;
}

.item:active {
    opacity: .3;
}

.active {
    border-bottom: 1px solid #fff;
}

.icon {
    display: none;
}